/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-04-22, 16:06:39
    Author     : Jakub
*/

body{
    background-color: #EEEEEE;
}

#test{
    font-size: 20px;
    background-color: #DDDDDD;
}

.newShit{
  width: 300px;
  height: 100px;
  padding: 10px;
  margin: 20px;
  border: 3px solid blue;
  background-color: red;
  color: white;
}